
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

body {
  min-height: 2000px;
}

p {

}

a {
  text-decoration: none;
}

h3 {
  position: relative;
  padding: 0 0 10px 0;
  color: gray;
}

#backToTop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: black;
  text-decoration: underline;
}

header {
  position: relative;
  width: 100%;
  z-index: 99;
}

header h1 {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;
}

header h3 {
  text-align: center;
}
